@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(img/bg.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 12%;
    left: 10%;
}

.spinach {
    height: 50vh;
    margin:6% 0 0 8%;
}

.pop {
    height: 85vh ;
}

h1 {
    font-size: 30px;
    padding: 5% 0 0 15%;
    color: #ffffff;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
}